/*map*/
.map-container .close-button{
	display:block;
	right:3px;
	z-index:999999;
	width:36px;
	height:36px;
	cursor:pointer;
	top:20px;
}
.map-container .close-button:before, .map-container .close-button:after{
	top:17px;
	right:8px;
}
.map-container .close-button-container{
	position:absolute;
	z-index:999999;
	top:-15px;
	right:-4px;
}
#_objekt_location{
	//display:none;
}
#map{
  width:100%;
  height:1000px;
	min-height:260px;
}
.map-container{
  position:relative;
}
.objekt-location-container{
  position:absolute;
  z-index:1020;
  top:43px;
  left:0px;
  width:100%;
}
.single-objekt .objekt-location-container{
	top:0px;
}
@media(min-width:801px) and (orientation:landscape){
.single-objekt .objekt-location-container{
	top:42px;
}
}
@media(orientation:portrait),(max-width:800px){
	/*.single-objekt .objekt-location-container{
		top:auto;
		bottom:0px;
	}
	.single-objekt .map-container{
		position:absolute;
		bottom:0px;
		height:100%;
		width:100%;
	}*/
}
#map a[target="_blank"]{
  display:none !important;
}
.info-window{
  font-family:akzgro,sans-serif;
  font-weight:bold;
}
.info-window .see-floorplan{
  background-color:#000;
  color:#fff;
  cursor:pointer;
  padding:6px 10px;
  display:inline-block;
  margin-top:15px;
}
.info-windows{
  display:none;
}
#map .gm-style-cc{
  display:none !important;
}
#map polyline, #map line, #map polygon, #map rect, #map path{
  stroke:#aaa;
  stroke-width:.6px;
}
#map.zoom-21 polyline, #map.zoom-21 line, #map.zoom-21 polygon, #map.zoom-21 rect{
  stroke-width:.3px;
}
#map.zoom-22 polyline, #map.zoom-22 line, #map.zoom-22 polygon, #map.zoom-22 rect{
  stroke-width:.2px;
}
#map text{
	font-family:akzgro, sans-serif;
	font-weight:bold;
}
#map.zoom-20 text, #map.zoom-18 text, #map.zoom-19 text{
	display:none;
}
#map.zoom-21 text{
	font-size:2.2px;
	fill:#999;
}
#map.zoom-22 text{
	font-size:1.8px;
}
#map.zoom-20 .floorplan-2 text{
	display:block;
	font-size:6.5px;
	fill:#999;
}
#map.zoom-21 .floorplan-2 text{
	font-size:2.6px;
	fill:#999;
}
#floor-control{
  position:absolute;
  right:10px;
  bottom:94px;
  background-color:#fff;
  box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.floorplan{
  width:100%;
  height:100%;
  display:none;
}
.floorplan-eg{
  display:block;
}
.floorplan .label{
  font-size:14px;
  color:#000;
  font-family:akzgro,sans-serif;
  font-weight:800;
  padding:0px;
  position:absolute;
}
.floorplan .text{
  padding-right:6px;
}
.halle-eg{
  position:absolute;
  left:32%;
  top:43%;
  margin-left:-18px;
  padding:0px;
}
.floorplan i{
  width:20px;
  height:20px;
  border-radius:30px;
  border:1px solid #000;
  font-size:12px;
  background-color:#fff;
  padding-top:3px;
  display:inline-block;
  font-style:normal;
	text-align:center;
	font-weight:400;
}
.label.tech{
  width:20px;
  height:20px;
  margin-left:-10px;
  margin-top:-10px;
}
.floor-button div{
  width:36px;
  height:36px;
  text-align:center;
  border-bottom:1px solid #efefef;
  font-weight:bold;
  font-size:14px;
  padding-top:6px;
  cursor:pointer;
}
.floor-button div:hover, .floor-button div:active{
  background-color:#ddd;
}
.floor-button.active{
  background-color:#eee;
}
.gmnoprint div{
  border-radius:0px !important;
}
.gmnoprint button + div{
  width:100% !important;
  left:0px !important;
}
.gm-bundled-control-on-bottom{
  right:36px !important;
  bottom:72px !important;
}
.gm-bundled-control-on-bottom div[draggable=false]{
  width:36px !important;
  height:72px !important;
}
.gm-bundled-control-on-bottom button{
  margin-left:4px !important;
  height:36px !important;
}
.gm-bundled-control-on-bottom button div{
  top: 10px !important;
}
/*labels with just text should get a negative margin half their width. labels with icons should get a negative margin of their whole width - 10-20px for the icon itself*/
.floorplan .shop{
  left:15%;
  top:63%;
  margin-left:-20px;
}
.floorplan .shop i.mfgz-sym{
  font-size:11px;
  padding-top:3px;
}
.floorplan i.mfgz-sym{
  font-size:13px;
}
.floorplan .lift-1{
  left:11%;
  top:57.1%;
  padding-left:1px;
  padding-top:2px;
}
.floorplan .lift i{
  padding-left:0px;
  font-size:12px;
}
.floorplan .stair-1{
  left:15.5%;
  top:53%;
	display:none;
}
.floorplan .stair-2{
  left:21.3%;
  top:59.5%;
	display:none;
}
.floorplan .drinking-fountain-1{
  left:6.5%;
  top:60.8%;
}
.floorplan .stair i{
  padding-top:2px;
	display:none;
}
.floorplan .cafe{
  left:10.5%;
  top:69%;
  margin-left:-15px;
}
.floorplan .cafe i{
  font-size:11px;
  padding-left:1px;
  padding-top:4px;
}
.label.tech.garderobe{
  left:17.8%;
  top:49%;
  margin-left:-75px;
  width:auto;
}
.floorplan .garderobe i{
  font-size:12px;
}
.galerie-1{
  left:34%;
  top:48%;
  margin-left:-35px;
}
.floorplan .vortragssaal{
  left:19.5%;
  top:72%;
  margin-left:-42px;
}
.floorplan .wc i{
  padding-left:2px;
}
.floorplan .wc-1{
  left:13%;
  top:55%;
}
.floorplan .wc-2{
  left:3%;
  top:61%;
}
.floorplan .galerie-2{
  left:29.8%;
  top:44.5%;
  margin-left:-35px;
}
.floorplan .atelier{
  left:20%;
  top:49%;
  margin-left:-25px;
}
.floorplan .stair-3{
  left:15.8%;
  top:57.8%;
}
.floorplan .saal-1{
  left:23%;
  top:57%;
  margin-left:-25px;
}
.floorplan .saal-2{
  left:12.7%;
  top:66%;
  margin-left:-25px;
}
.floorplan .stair-4{
  left:8.7%;
  top:58.8%;
}
.floor-button div.geolocate{
	font-size:19px;
	font-weight:normal;
	padding-top:7px;
}
/*locator*/
#locator-tool{
  position:absolute;
  right:10px;
  bottom:92px;
  background-color:#fff;
  box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
	display:none;
}
.locating-blink .geolocate{
  animation: blinker .5s linear infinite;
}

@keyframes blinker {  
  50% { opacity: .25; }
}
.en .de, .en .fr,
.de .en, .de .fr,
.fr .en, .fr .de{
  display:none;
}

